.button-container{
    .bc-action{
        height: 2rem;
        border: unset;
        border-radius: 0.5rem;
        width: 8rem;
        cursor: pointer;
        &.primary{
            background-color: lightseagreen;
            color: ivory;
        }
        &.secondary{
            background-color: orange;
            color: seashell;
        }
        &.tertiary{
            background-color: #f71313;
            color:ivory;
        }
        &:disabled{
            background-color: #8a9190;
            cursor:default;
        }
        &.xl{
            height: 4rem;
            width: 10rem;
        }
    }
}