.button-container{
    .bc-action{
        background-color: lightseagreen;
        height: 2rem;
        color: ivory;
        border: unset;
        border-radius: 0.5rem;
        width: 8rem;
    }
}