.card-container{
    // background-color:teal;
    border-radius: 0.5rem;
    width: 100%;
    // color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 4rem;
    align-items: center;
    @media screen and (max-width: 420px) {
        flex-direction: column;
        height: 20rem;
        width: 14rem;
    }
    @media screen and (max-width: 540px) {
        flex-direction: column;
        height: 20rem;
        width: 14rem;
    }
    div{
        padding: 0.5rem;
        letter-spacing: 0rem;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
}