.reservation-container{
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    position: relative;
    .rc-filters-container{
        padding-top: 2rem;
        .rc-filters{
            display: flex;
            flex-direction: row;
            width: 100%;
            padding-bottom: 1rem;
            .rc-origin,
            .rc-destination{
                height: 100%;
                padding-left: 23%;
                @media screen and (max-width: 768px) {
                    padding-left: 7%;
                }
                @media screen and (max-width:540px) {
                    padding-bottom: 1rem;
                }
                @media screen and (max-width: 420px) {
                    padding-left: 14%;
                    padding-bottom: 1rem;
                }
                @media screen and (max-width: 360px) {
                    padding-left: 10%;
                }
            }
            @media screen and (max-width:540px) {
                flex-direction: column;
            }
        }
        .rc-secondfilter{
            display: flex;
            align-items: flex-start;
            width: 100%;
            @media screen and (max-width:540px) {
                flex-direction: column;
            }
        }
    }
    .rc-button{
        display: flex;
        justify-content: center;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        top: auto;
        bottom: 0;
        .button-container:first-child{
            padding-right: 3rem;
        }
        @media screen and (max-width:540px) {
            top: 25rem;
            left: 0.1rem;
            .button-container:first-child{
                padding-right: 2.5rem;
            }
        }
    }
}