.header-container{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 0.1rem solid gray;
    justify-content: space-between;
    background-color: #f9f3e3;
    .hc-brand-container{
        display: flex;
        align-items: center;
        .hc-airplane-icon{
            height: 3rem;
            // width: 30%;solo movil
            padding-right: 1rem;
            padding-left: 3rem;
            &:hover{
                cursor: pointer;
            }
        }
        .hc-text{
            //color: skyblue;
            // width: 70%; solo movil
            font-size: 2.5rem;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: bold;
            // font-style: italic;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .hc-shopping-cart-container{
        display: flex;
        .hc-shoppingcart-icon{
            height: 2rem;
            width: 2rem;
            &:hover{
                cursor: pointer;
            }
        }
        .hcs-notification{
            width: 1.3rem;
            height: 1.3rem;
            border-radius: 50%;
            background-color: #bc2541;
            margin-right: 2rem;
            display: flex;
            justify-content: center;
            .hcsn-text{
                color: white;
                &:hover{
                    cursor: default;
                }
            }
            &.hidden{
                opacity: 0;
            }
        }
    }
}